@import url("/css/css_generic.css");

:root {
    --color-green: #00bf63;
    --color-whiteLite:#ffffffdc;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 500ms;
}

html,
body {
    width: 100%;
    min-height: 100vh;
    font-size: 16px;
    font-family: Poppins, sans-serif;
    background-color: var(--color-whiteLite);
    scroll-behavior: smooth;
}

/* header start*/
.header_top {
    height: 100vh;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../Img/banner/banner_main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

/* logo */
.nav-top_logo {
    justify-content: center;
    overflow: hidden;
    height: 150px;
    padding: 20px;
    background-color: #000000f2;
}

.nav-top-logo_img {
    height: 100%;
}

/* nav */
.nav-top {
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navtop-menu {
    justify-content: center;
    flex-wrap: wrap;

    list-style: none;
    background-color: #ffffffdc;
    margin-top: 0;
}

.navtop-a {
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 7px 20px;
    box-shadow: 0 1px 1px #000 ;
    
    text-wrap: nowrap;
    font-size: 15px;
    font-weight: 500;
    color: #000;
    outline: none;
    transition: 500ms;
}

.navtop-a ion-icon{
    font-size:18px ;
    margin-right: 7px;
}

.navtop-a:hover {
    background-color: #ccc;
}
/* menu-burger */
.burger-box {}

.burger-fit {}

/* header_top-content */
.header_top-content {
    width: 100%;
    margin: auto;
    text-align: center;
    color: #fff;
}

.header_top-title {
    font-size: 45px;
    text-transform: uppercase;
}

.header_top-subTitle {
    text-transform: uppercase;
    margin: 10px 0;
}

.header_top-txtEspecializada {
    width: 80%;
    margin: auto;
    line-height: 1.8;
}

/* .header_top-content-atendimento{
    
} */

.header_top-msg-atendimento{
    width: 80%;
    margin:20px auto;
}

.header_top-msg-atendimento .msg-atendimento{
    color: #00bf63;
    padding: 20px 30px;
    font-size: 1.9em;
    font-weight: bolder;
    text-shadow: 0 0 4.5px;
}

/* section  start */
.servicos{
    height: 50vh;
}

.servicos__content{
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
    height: inherit;
}

.servicos__area span{
    font-size: 3em;
}

/* .servicos__area, .servicos__texto{
    
}
 */
/* carregadeira */
.container-pecas_carregadeira, .container-pecas_transbordo{
    padding-top: 5em;
    text-align: center;
    background-color: #ffffffdc;
}

.banners{
    margin: 20px auto;
    
}

.banners img{
    width: 100%;
    display: block;
    border-radius: 10px; 
}

.subContainer{
    max-width: 100rem;
    margin-inline: auto;
    padding-inline: 2rem;
    
    /* margin:auto;
    display: grid;
    grid-template-columns:repeat(4, 1fr) ;
    grid-template-rows:repeat(4, 140px);
    gap: 1em 1.5em; */
}

.subTitle{
    margin: auto;
    text-shadow: 0 0 1px #000;
    font-family: "Poppins",Arial, Helvetica, sans-serif;
    font-size: 3em;
    text-transform: uppercase;
    color: var(--color-green);
    padding: 15px;
    background-color: #dcdcdc6f;
    border-radius: 10px;
}

.grid-template-area{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(180px, 220px));
    grid-template-rows: auto;

    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 130px);
    grid-template-areas:
        "img1 img2 img3 img4"
        "img1 img2 img3 img4"
        "img5 img5 img6 img4"
        "img5 img5 img8 img7"
        ; */
}
/* 
.grid-template-area{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
} */



.subContainer .iten{
    position: relative;
    background-color: #fff;
    box-shadow: 0px 0px 5px 1px #888888;
    border-radius: 20px;
    padding: 30px 20px;
    
}
/* 
__Este codigo aplica o desenho do carregadeira nos cards__
.subContainer .iten::before{
    content: '';
    position: absolute;
    bottom: -13px;
    right: -7px;
    width: 70px;
    height: 70px;
    
    
    
    background-image:url('/Img/parts_logo/carregadeira_cana.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
} */

/* .subContainer .imgBig{
    box-shadow: 0px 0px 5px 1px #888888;
    border-radius: 20px;
    width: 100%;
    height: 50vh;
} */

.subContainer .imgBig{
    grid-row: span 2;
    grid-column: span 2
}

.subContainer .imgOneColumn{
    grid-row: span 2;
    padding: 20px;
}

.subContainer .imgOneColumn img{
    height: 100%;
}

.subContainer .iten:hover, .grid-template-area-2 .iten:hover{
    transform: scale(1.02);
}

.subContainer .iten img{
    width: 100%;
    max-width: 100%;
    display: block;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}

/* /* Nome Grid areas
.subContainer .img1{
    grid-area: img1;
}

.subContainer .img2{
    grid-area: img2;
}

.subContainer .img3{
    grid-area: img3;
}

.subContainer .img4{
    grid-area: img4;
}

.subContainer .img5{
    grid-area: img5;
}

.subContainer .img6{
    grid-area: img6;
}

.subContainer .img7{
    grid-area: img7;
} 

.subContainer .img8{
    grid-area: img8;
} 
  */
/* Peças para Transbordo */
.grid-template-area-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.grid-template-area-2 .iten{
    position: relative;
    width: 220px;
    height: 280px;
    box-shadow: 0px 0px 5px 1px #888888;
    border-radius: 20px;
}
/* 
__Este codigo aplica o desenho do transbordo nos cards__
.grid-template-area-2 .iten::before{
    content: '';
    position: absolute;
    bottom: -1px;
    right: 2px;
    width: 50px;
    height: 50px;
    
    
    
    background-image:url('/Img/parts_logo/carreta_transbordo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
} */

.grid-template-area-2 .iten img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 15px;
}

/* Localização */

.localizacao_content{
    padding-top: 20px;
    /* border-top: 0.01em solid; */
    flex-direction: column;
}

.localizacao_title{
    font-size:1.8em ;
    text-align: center;
    margin: 20px 0;
}

.localizacao_title ion-icon{
    color: red;
}
.localizacao_content p{
    font-size: 1.1em;
    margin-top: 35px;
    text-align: center;
}
.localizacao_btn{
    margin: 10px auto;
    text-decoration: none;
    align-items: center;
    font-size: 1em;
    font-weight: 400;
    color: #fff;
    border-radius: 30px;
    padding: 10px 30px;
    background-color: rgb(255, 0, 0) ;
}

.localizacao_btn ion-icon{
    margin-left: 5px;
    font-size: 1.2em;
}


/* Midia Mobile */
@media screen and (max-width:400px) {
    .navtop-menu {
        flex-direction: column;
        justify-content: space-evenly;
        align-items:stretch;
    }
    .navtop-a{
        justify-content: center;
        height: 9vh;
    }

    .grid-template-area-2{
        width: 100vw;
        flex-direction: column;
    }
}